.btn41-43 {
  padding: 10px 25px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-41 {
  border: 2px solid #f1f1f1;
  z-index: 1;
  color: #f1f1f1;
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  direction: rtl;
  z-index: -1;
  background: #f1f1f1;
  transition: all 0.3s ease;
}

.btn-41:hover {
  color: #121212;
  border: 2px solid #f1f1f1;
}

.btn-41:hover:after {
  left: 0;
  right: auto;
  width: 100%;
}

.btn-41:active {
  top: 2px;
}