/* background */

#inicio {
    background-image: radial-gradient(ellipse 60% 80% at bottom, #1C3B56 0%, #121212 72%);
}

#skills {
    background-image: radial-gradient(ellipse 60% 80% at top, #1C3B56 0%, #121212 72%);
}

#contato {
    background-image: radial-gradient(ellipse 60% 80% at bottom, #1C3B56 0%, #121212 72%);
}

#footer {
    background-image: radial-gradient(ellipse 60% 80% at top, #1C3B56 0%, #121212 72%);
}

.imagem-projetos {
    box-shadow: 15px 15px #0075E0;
    transition: 0.2s ease;
}

.imagem-projetos:hover {
    box-shadow: 15px 15px #0063BE;
    transition: 0.2s ease-in-out;
}

/* REDES SOCIAIS */

.social-icon {
    display: inline-block;
    margin-top: 12PX;
}

.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
    transform: scale(1);
}

.social-icon a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

/* ANIMACAO MOVEUP FOGUETE */

.container {
    width: 50px;
    height: 200px;
    position: relative;
}

.animated-image {
    position: absolute;
    bottom: 0;
    right: 0;
    animation: moveUpDown 3s infinite alternate;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
        /* início da animação */
    }

    100% {
        transform: translateY(100px);
        /* fim da animação */
    }
}

/* LINKS */

.icone-svg path{
    fill: #f1f1f1;
    transition: fill 0.3s;
}

.icone-svg:hover path {
    fill: #BFBFBF;
}